<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel to CSV Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Excel Dosyasını Yükle ve CSV'ye Dönüştür</h2>
        <form ref='uploadForm' 
              id='uploadForm' 
              action='/upload' 
              method='post' 
              encType="multipart/form-data" 
              class="mt-4 p-4 border rounded">
            <div class="form-group">
                <label for="excelFile">Excel Dosyasını Seçin:</label>
                <input type="file" name="excelFile" id="excelFile" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Yükle</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
